# Hotel Review Summary Notebok

This notebook is intended to find the average and standard deviation of scores for various hotels that were reviewed on Booking.com.

In [1]:
# Imports
import numpy as np
import pandas as pd

First we need to initialize the DataFrames for the reviews

In [2]:
reviews = pd.read_csv('Hotel_Reviews_clean.csv')

In [3]:
reviews.head()

,hotel_address,hotel_name,reviewer_origin,number_user_reviews,score,hotel_latitude,hotel_longitude,review_text,sentiment,visit_length,trip_type,visitor_type,city
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Russia,7,2.9,52.360576,4.915968,Only the park outside of the hotel was beauti...,0,6.0,Leisure,Couple,Amsterdam
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Ireland,7,7.5,52.360576,4.915968,No real complaints the hotel was great great ...,1,4.0,Leisure,Couple,Amsterdam
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Australia,9,7.1,52.360576,4.915968,Location was good and staff were ok It is cut...,1,3.0,Leisure,Family with young children,Amsterdam
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,United Kingdom,1,3.8,52.360576,4.915968,Great location in nice surroundings the bar a...,0,3.0,Leisure,Solo traveler,Amsterdam
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,New Zealand,3,6.7,52.360576,4.915968,Amazing location and building Romantic settin...,1,2.0,Leisure,Couple,Amsterdam

In [4]:
group_by_hotel = reviews.groupby("hotel_address")

In [7]:
# Finding average scores
averageScores = group_by_hotel.mean()['score']
averageScores

hotel_address
 s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands                                 7.836296
1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom    8.602827
1 2 Serjeant s Inn Fleet Street City of London London EC4Y 1LL United Kingdom             9.298552
1 3 Queens Garden Westminster Borough London W2 3BA United Kingdom                        7.711469
1 3 Rue d Argentine 16th arr 75116 Paris France                                           8.848571
1 5 Passage Ruelle 18th arr 75018 Paris France                                            5.852632
1 8 Russell Square Camden London WC1B 5BE United Kingdom                                  8.029333
1 Addington Street Lambeth London SE1 7RY United Kingdom                                  8.369757
1 Aldwych Westminster Borough London WC2B 4BZ United Kingdom                              9.144853
1 Avenue Carnot 17th arr 75017 Paris France                                               9.142520
1 Bis Rue De Vaugirard 6th arr 75006 Paris France                                         8.328111
1 Hamilton Place Park Lane Westminster Borough London W1J 7QY United Kingdom              8.292500
1 Impasse Marteau 18th arr 75018 Paris France                                             7.029444
1 Inverness Terrace Westminster Borough London W2 3JP United Kingdom                      7.615619
1 Kensington Court Kensington and Chelsea London W8 5DL United Kingdom                    9.572093
1 Kings Cross Road Islington London WC1X 9HX United Kingdom                               7.958292
1 Place De La Sorbonne 5th arr 75005 Paris France                                         8.961328
1 Place Vend me 1st arr 75001 Paris France                                                8.385393
1 Rue De Libourne 12th arr 75012 Paris France                                             8.758482
1 Rue Du G n ral Blaise 11th arr 75011 Paris France                                       8.141341
1 Rue Sainte Opportune 1st arr 75001 Paris France                                         7.820370
1 Rue Scribe 9th arr 75009 Paris France                                                   8.777778
1 Shortlands Hammersmith and Fulham London W6 8DR United Kingdom                          8.242245
1 Suffolk Place Westminster Borough London SW1Y 4HX United Kingdom                        9.590909
1 Waterview Drive Greenwich London SE10 0TW United Kingdom                                9.451196
1 rue Geoffroy Marie 9th arr 75009 Paris France                                           8.489024
10 12 rue Cognacq Jay 7th arr 75007 Paris France                                          8.577515
10 12 rue de Charonne 11th arr 75011 Paris France                                         9.142105
10 Avenue D I na 16th arr 75016 Paris France                                              9.102174
10 Avenue Emile Zola 15th arr 75015 Paris France                                          7.517143
                                                                                            ...
Villarroel 106 Eixample 08011 Barcelona Spain                                             7.651420
Viriotgasse 5 09 Alsergrund 1090 Vienna Austria                                           8.771429
Vondelstraat 18 30 Oud West 1054 GE Amsterdam Netherlands                                 8.078544
W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria                                     8.030045
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria                                  7.695630
Wagramer Stra e 16 18 22 Donaustadt 1220 Vienna Austria                                   8.460111
Wagramer Stra e 21 22 Donaustadt 1220 Vienna Austria                                      8.254018
Wagramer Stra e 51 22 Donaustadt 1220 Vienna Austria                                      9.126829
Wagramer Stra e 8 22 Donaustadt 1220 Vienna Austria                                       8.465035
Wallgasse 23 06 Mariahilf 1060 Vienna Austria                                             8.231126
Webgasse 23 06 Mariahilf 1060 Vienna Austria                                              8.048718
Webgasse 26 06 Mariahilf 1060 Vienna Austria                                              8.880667
Weihburggasse 3 01 Innere Stadt 1010 Vienna Austria                                       9.217268
Westeinde 26 Amsterdam City Center 1017 ZP Amsterdam Netherlands                          8.545053
Western Avenue Ealing London W5 1HG United Kingdom                                        8.505811
Western Gateway Newham London E16 1FA United Kingdom                                      8.122181
Westminster Bridge Road Lambeth London SE1 7UT United Kingdom                             8.652866
Westside Wimbledon Common Wimbledon London SW19 4UE United Kingdom                        8.308997
Weteringschans 251 Amsterdam City Center 1017 XJ Amsterdam Netherlands                    8.408955
Whitcomb Street Trafalgar Square Westminster Borough London WC2H 7HG United Kingdom       8.429122
Whitehall Place Westminster Borough London SW1A 2BD United Kingdom                        9.486854
Wibautstraat 129 Oost 1091 GL Amsterdam Netherlands                                       8.820241
Wiedner G rtel 14 04 Wieden 1040 Vienna Austria                                           8.425636
Wiedner Hauptstr 27 29 04 Wieden 1040 Vienna Austria                                      8.830616
Wiedner Hauptstra e 12 04 Wieden 1040 Vienna Austria                                      8.045238
Wiedner Hauptstra e 44 04 Wieden 1040 Vienna Austria                                      8.021185
Wildpretmarkt 5 01 Innere Stadt 1010 Vienna Austria                                       8.929861
Wilton Place Knightsbridge Westminster Borough London SW1X 7RL United Kingdom             9.064000
Wrights Lane Kensington and Chelsea London W8 5SP United Kingdom                          7.723591
Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                              7.760000
Name: score, Length: 1493, dtype: float64

In [17]:
# Finding standard deviation of scores
standard_deviations = group_by_hotel.std()['score']
standard_deviations

hotel_address
 s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands                                 1.896516
1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom    1.417423
1 2 Serjeant s Inn Fleet Street City of London London EC4Y 1LL United Kingdom             0.924214
1 3 Queens Garden Westminster Borough London W2 3BA United Kingdom                        1.876015
1 3 Rue d Argentine 16th arr 75116 Paris France                                           1.058959
1 5 Passage Ruelle 18th arr 75018 Paris France                                            2.267247
1 8 Russell Square Camden London WC1B 5BE United Kingdom                                  1.631931
1 Addington Street Lambeth London SE1 7RY United Kingdom                                  1.616577
1 Aldwych Westminster Borough London WC2B 4BZ United Kingdom                              1.024935
1 Avenue Carnot 17th arr 75017 Paris France                                               1.120836
1 Bis Rue De Vaugirard 6th arr 75006 Paris France                                         1.513762
1 Hamilton Place Park Lane Westminster Borough London W1J 7QY United Kingdom              1.667090
1 Impasse Marteau 18th arr 75018 Paris France                                             1.877616
1 Inverness Terrace Westminster Borough London W2 3JP United Kingdom                      1.864293
1 Kensington Court Kensington and Chelsea London W8 5DL United Kingdom                    0.693610
1 Kings Cross Road Islington London WC1X 9HX United Kingdom                               1.693476
1 Place De La Sorbonne 5th arr 75005 Paris France                                         1.220619
1 Place Vend me 1st arr 75001 Paris France                                                1.871773
1 Rue De Libourne 12th arr 75012 Paris France                                             1.422629
1 Rue Du G n ral Blaise 11th arr 75011 Paris France                                       1.628838
1 Rue Sainte Opportune 1st arr 75001 Paris France                                         1.774574
1 Rue Scribe 9th arr 75009 Paris France                                                   1.305823
1 Shortlands Hammersmith and Fulham London W6 8DR United Kingdom                          1.676005
1 Suffolk Place Westminster Borough London SW1Y 4HX United Kingdom                        0.737789
1 Waterview Drive Greenwich London SE10 0TW United Kingdom                                0.903539
1 rue Geoffroy Marie 9th arr 75009 Paris France                                           1.321803
10 12 rue Cognacq Jay 7th arr 75007 Paris France                                          1.614434
10 12 rue de Charonne 11th arr 75011 Paris France                                         0.971950
10 Avenue D I na 16th arr 75016 Paris France                                              1.260774
10 Avenue Emile Zola 15th arr 75015 Paris France                                          1.900189
                                                                                            ...
Villarroel 106 Eixample 08011 Barcelona Spain                                             1.742137
Viriotgasse 5 09 Alsergrund 1090 Vienna Austria                                           0.971008
Vondelstraat 18 30 Oud West 1054 GE Amsterdam Netherlands                                 1.627947
W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria                                     1.590525
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria                                  1.754686
Wagramer Stra e 16 18 22 Donaustadt 1220 Vienna Austria                                   1.484069
Wagramer Stra e 21 22 Donaustadt 1220 Vienna Austria                                      1.534764
Wagramer Stra e 51 22 Donaustadt 1220 Vienna Austria                                      1.071220
Wagramer Stra e 8 22 Donaustadt 1220 Vienna Austria                                       1.437979
Wallgasse 23 06 Mariahilf 1060 Vienna Austria                                             1.465296
Webgasse 23 06 Mariahilf 1060 Vienna Austria                                              1.721402
Webgasse 26 06 Mariahilf 1060 Vienna Austria                                              1.264046
Weihburggasse 3 01 Innere Stadt 1010 Vienna Austria                                       1.058806
Westeinde 26 Amsterdam City Center 1017 ZP Amsterdam Netherlands                          1.480517
Western Avenue Ealing London W5 1HG United Kingdom                                        1.473130
Western Gateway Newham London E16 1FA United Kingdom                                      1.797959
Westminster Bridge Road Lambeth London SE1 7UT United Kingdom                             1.494469
Westside Wimbledon Common Wimbledon London SW19 4UE United Kingdom                        1.534665
Weteringschans 251 Amsterdam City Center 1017 XJ Amsterdam Netherlands                    1.475325
Whitcomb Street Trafalgar Square Westminster Borough London WC2H 7HG United Kingdom       1.457380
Whitehall Place Westminster Borough London SW1A 2BD United Kingdom                        0.798061
Wibautstraat 129 Oost 1091 GL Amsterdam Netherlands                                       1.342999
Wiedner G rtel 14 04 Wieden 1040 Vienna Austria                                           1.371384
Wiedner Hauptstr 27 29 04 Wieden 1040 Vienna Austria                                      1.198385
Wiedner Hauptstra e 12 04 Wieden 1040 Vienna Austria                                      1.532446
Wiedner Hauptstra e 44 04 Wieden 1040 Vienna Austria                                      1.642927
Wildpretmarkt 5 01 Innere Stadt 1010 Vienna Austria                                       1.205644
Wilton Place Knightsbridge Westminster Borough London SW1X 7RL United Kingdom             1.319360
Wrights Lane Kensington and Chelsea London W8 5SP United Kingdom                          1.769052
Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                              1.756628
Name: score, Length: 1493, dtype: float64

In [34]:
# Finding skew of scores for each hotel; giving direction in which opinion leans in each hotel
skewedness = group_by_hotel.skew()['score']
skewedness

hotel_address
 s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands                                -0.793030
1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom   -1.166941
1 2 Serjeant s Inn Fleet Street City of London London EC4Y 1LL United Kingdom            -2.205991
1 3 Queens Garden Westminster Borough London W2 3BA United Kingdom                       -0.672977
1 3 Rue d Argentine 16th arr 75116 Paris France                                          -1.316812
1 5 Passage Ruelle 18th arr 75018 Paris France                                            0.070206
1 8 Russell Square Camden London WC1B 5BE United Kingdom                                 -0.803740
1 Addington Street Lambeth London SE1 7RY United Kingdom                                 -1.098561
1 Aldwych Westminster Borough London WC2B 4BZ United Kingdom                             -1.846244
1 Avenue Carnot 17th arr 75017 Paris France                                              -1.874519
1 Bis Rue De Vaugirard 6th arr 75006 Paris France                                        -1.127190
1 Hamilton Place Park Lane Westminster Borough London W1J 7QY United Kingdom             -1.018772
1 Impasse Marteau 18th arr 75018 Paris France                                            -0.410008
1 Inverness Terrace Westminster Borough London W2 3JP United Kingdom                     -0.625375
1 Kensington Court Kensington and Chelsea London W8 5DL United Kingdom                   -2.013073
1 Kings Cross Road Islington London WC1X 9HX United Kingdom                              -0.736083
1 Place De La Sorbonne 5th arr 75005 Paris France                                        -1.644509
1 Place Vend me 1st arr 75001 Paris France                                               -1.519511
1 Rue De Libourne 12th arr 75012 Paris France                                            -1.558143
1 Rue Du G n ral Blaise 11th arr 75011 Paris France                                      -1.264055
1 Rue Sainte Opportune 1st arr 75001 Paris France                                        -0.661797
1 Rue Scribe 9th arr 75009 Paris France                                                  -1.484998
1 Shortlands Hammersmith and Fulham London W6 8DR United Kingdom                         -0.923908
1 Suffolk Place Westminster Borough London SW1Y 4HX United Kingdom                       -3.659044
1 Waterview Drive Greenwich London SE10 0TW United Kingdom                               -2.951483
1 rue Geoffroy Marie 9th arr 75009 Paris France                                          -0.754979
10 12 rue Cognacq Jay 7th arr 75007 Paris France                                         -1.284307
10 12 rue de Charonne 11th arr 75011 Paris France                                        -1.812647
10 Avenue D I na 16th arr 75016 Paris France                                             -3.758340
10 Avenue Emile Zola 15th arr 75015 Paris France                                         -0.733767
                                                                                            ...
Villarroel 106 Eixample 08011 Barcelona Spain                                            -0.704620
Viriotgasse 5 09 Alsergrund 1090 Vienna Austria                                          -0.278534
Vondelstraat 18 30 Oud West 1054 GE Amsterdam Netherlands                                -0.800421
W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria                                    -0.811688
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria                                 -0.908136
Wagramer Stra e 16 18 22 Donaustadt 1220 Vienna Austria                                  -1.153360
Wagramer Stra e 21 22 Donaustadt 1220 Vienna Austria                                     -1.183197
Wagramer Stra e 51 22 Donaustadt 1220 Vienna Austria                                     -2.073084
Wagramer Stra e 8 22 Donaustadt 1220 Vienna Austria                                      -1.198468
Wallgasse 23 06 Mariahilf 1060 Vienna Austria                                            -1.042054
Webgasse 23 06 Mariahilf 1060 Vienna Austria                                             -1.000705
Webgasse 26 06 Mariahilf 1060 Vienna Austria                                             -2.176018
Weihburggasse 3 01 Innere Stadt 1010 Vienna Austria                                      -2.050322
Westeinde 26 Amsterdam City Center 1017 ZP Amsterdam Netherlands                         -1.274170
Western Avenue Ealing London W5 1HG United Kingdom                                       -1.226873
Western Gateway Newham London E16 1FA United Kingdom                                     -1.028025
Westminster Bridge Road Lambeth London SE1 7UT United Kingdom                            -1.375721
Westside Wimbledon Common Wimbledon London SW19 4UE United Kingdom                       -0.857228
Weteringschans 251 Amsterdam City Center 1017 XJ Amsterdam Netherlands                   -1.296797
Whitcomb Street Trafalgar Square Westminster Borough London WC2H 7HG United Kingdom      -1.083764
Whitehall Place Westminster Borough London SW1A 2BD United Kingdom                       -4.356183
Wibautstraat 129 Oost 1091 GL Amsterdam Netherlands                                      -1.671213
Wiedner G rtel 14 04 Wieden 1040 Vienna Austria                                          -1.157860
Wiedner Hauptstr 27 29 04 Wieden 1040 Vienna Austria                                     -1.220624
Wiedner Hauptstra e 12 04 Wieden 1040 Vienna Austria                                     -0.533689
Wiedner Hauptstra e 44 04 Wieden 1040 Vienna Austria                                     -0.943432
Wildpretmarkt 5 01 Innere Stadt 1010 Vienna Austria                                      -1.636141
Wilton Place Knightsbridge Westminster Borough London SW1X 7RL United Kingdom            -2.069620
Wrights Lane Kensington and Chelsea London W8 5SP United Kingdom                         -0.656520
Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                             -0.760592
Name: score, Length: 1493, dtype: float64

In [36]:
# Find out counts of hotels
counts = group_by_hotel.count()['score']
counts

hotel_address
 s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands                                  405
1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom     566
1 2 Serjeant s Inn Fleet Street City of London London EC4Y 1LL United Kingdom             1036
1 3 Queens Garden Westminster Borough London W2 3BA United Kingdom                        1770
1 3 Rue d Argentine 16th arr 75116 Paris France                                             35
1 5 Passage Ruelle 18th arr 75018 Paris France                                              19
1 8 Russell Square Camden London WC1B 5BE United Kingdom                                  1425
1 Addington Street Lambeth London SE1 7RY United Kingdom                                  2222
1 Aldwych Westminster Borough London WC2B 4BZ United Kingdom                               136
1 Avenue Carnot 17th arr 75017 Paris France                                                127
1 Bis Rue De Vaugirard 6th arr 75006 Paris France                                          217
1 Hamilton Place Park Lane Westminster Borough London W1J 7QY United Kingdom               160
1 Impasse Marteau 18th arr 75018 Paris France                                              180
1 Inverness Terrace Westminster Borough London W2 3JP United Kingdom                      2958
1 Kensington Court Kensington and Chelsea London W8 5DL United Kingdom                      86
1 Kings Cross Road Islington London WC1X 9HX United Kingdom                               1007
1 Place De La Sorbonne 5th arr 75005 Paris France                                          256
1 Place Vend me 1st arr 75001 Paris France                                                  89
1 Rue De Libourne 12th arr 75012 Paris France                                              224
1 Rue Du G n ral Blaise 11th arr 75011 Paris France                                        179
1 Rue Sainte Opportune 1st arr 75001 Paris France                                          108
1 Rue Scribe 9th arr 75009 Paris France                                                    135
1 Shortlands Hammersmith and Fulham London W6 8DR United Kingdom                          1283
1 Suffolk Place Westminster Borough London SW1Y 4HX United Kingdom                         121
1 Waterview Drive Greenwich London SE10 0TW United Kingdom                                2551
1 rue Geoffroy Marie 9th arr 75009 Paris France                                             82
10 12 rue Cognacq Jay 7th arr 75007 Paris France                                           169
10 12 rue de Charonne 11th arr 75011 Paris France                                          171
10 Avenue D I na 16th arr 75016 Paris France                                                46
10 Avenue Emile Zola 15th arr 75015 Paris France                                            70
                                                                                          ...
Villarroel 106 Eixample 08011 Barcelona Spain                                              352
Viriotgasse 5 09 Alsergrund 1090 Vienna Austria                                             28
Vondelstraat 18 30 Oud West 1054 GE Amsterdam Netherlands                                  522
W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria                                      223
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria                                   389
Wagramer Stra e 16 18 22 Donaustadt 1220 Vienna Austria                                    361
Wagramer Stra e 21 22 Donaustadt 1220 Vienna Austria                                       224
Wagramer Stra e 51 22 Donaustadt 1220 Vienna Austria                                        41
Wagramer Stra e 8 22 Donaustadt 1220 Vienna Austria                                        143
Wallgasse 23 06 Mariahilf 1060 Vienna Austria                                              151
Webgasse 23 06 Mariahilf 1060 Vienna Austria                                               390
Webgasse 26 06 Mariahilf 1060 Vienna Austria                                               150
Weihburggasse 3 01 Innere Stadt 1010 Vienna Austria                                        388
Westeinde 26 Amsterdam City Center 1017 ZP Amsterdam Netherlands                           657
Western Avenue Ealing London W5 1HG United Kingdom                                         413
Western Gateway Newham London E16 1FA United Kingdom                                       541
Westminster Bridge Road Lambeth London SE1 7UT United Kingdom                             4169
Westside Wimbledon Common Wimbledon London SW19 4UE United Kingdom                         289
Weteringschans 251 Amsterdam City Center 1017 XJ Amsterdam Netherlands                      67
Whitcomb Street Trafalgar Square Westminster Borough London WC2H 7HG United Kingdom        467
Whitehall Place Westminster Borough London SW1A 2BD United Kingdom                         213
Wibautstraat 129 Oost 1091 GL Amsterdam Netherlands                                       1576
Wiedner G rtel 14 04 Wieden 1040 Vienna Austria                                            511
Wiedner Hauptstr 27 29 04 Wieden 1040 Vienna Austria                                       601
Wiedner Hauptstra e 12 04 Wieden 1040 Vienna Austria                                        42
Wiedner Hauptstra e 44 04 Wieden 1040 Vienna Austria                                       439
Wildpretmarkt 5 01 Innere Stadt 1010 Vienna Austria                                        144
Wilton Place Knightsbridge Westminster Borough London SW1X 7RL United Kingdom              100
Wrights Lane Kensington and Chelsea London W8 5SP United Kingdom                          2768
Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria                               325
Name: score, Length: 1493, dtype: int64

In [39]:
standard_deviations.name = 'standard_deviation'

In [40]:
averageScores.name = 'average_score'

In [41]:
skewedness.name = 'skew'

In [42]:
counts.name = 'number_of_reviews'

In [43]:
hotelReviewSummary = pd.concat([averageScores, standard_deviations, skewedness, counts], axis=1)
hotelReviewSummary.head()

,average_score,standard_deviation,skew,number_of_reviews
hotel_address,,,,
s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,7.836296,1.896516,-0.793030,405
1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom,8.602827,1.417423,-1.166941,566
1 2 Serjeant s Inn Fleet Street City of London London EC4Y 1LL United Kingdom,9.298552,0.924214,-2.205991,1036
1 3 Queens Garden Westminster Borough London W2 3BA United Kingdom,7.711469,1.876015,-0.672977,1770
1 3 Rue d Argentine 16th arr 75116 Paris France,8.848571,1.058959,-1.316812,35

In [44]:
# Find highest ranking hotels
descending = hotelReviewSummary.sort_values(by='average_score', ascending=False)
descending.head()

,average_score,standard_deviation,skew,number_of_reviews
hotel_address,,,,
15 Place Vend me 1st arr 75001 Paris France,9.725000,0.698477,-4.663590,28
Elisabets 11 Ciutat Vella 08001 Barcelona Spain,9.718937,0.499006,-4.095941,301
41 Buckingham Palace Road Westminster Borough London SW1W 0PS United Kingdom,9.711650,0.590497,-3.275412,103
4 rue d Alger 1st arr 75001 Paris France,9.688525,0.505008,-2.454310,61
19 Boulevard De La Tour Maubourg 7th arr 75007 Paris France,9.671930,0.538103,-2.278978,57

In [45]:
# Find lowest ranking hotels
ascending = hotelReviewSummary.sort_values(by='average_score')
ascending.head()

,average_score,standard_deviation,skew,number_of_reviews
hotel_address,,,,
Viale Bligny 56 Milan City Center 20136 Milan Italy,5.121538,1.766396,0.298663,65
1 5 Passage Ruelle 18th arr 75018 Paris France,5.852632,2.267247,0.070206,19
167 rue de Rome 17th arr 75017 Paris France,5.864516,2.179269,-0.054968,62
Ferdinand Bolstraat 194 Oud Zuid 1072 LW Amsterdam Netherlands,6.009465,1.993883,0.152158,243
10 rue Gager Gabillot 15th arr 75015 Paris France,6.329730,2.250045,-0.087228,37

In [46]:
most_reviewed = hotelReviewSummary.sort_values(by='number_of_reviews', ascending=False)
most_reviewed.head()

,average_score,standard_deviation,skew,number_of_reviews
hotel_address,,,,
163 Marsh Wall Docklands Tower Hamlets London E14 9SJ United Kingdom,6.827622,2.025071,-0.234612,4786
372 Strand Westminster Borough London WC2R 0JJ United Kingdom,8.128696,1.563818,-0.798989,4255
Westminster Bridge Road Lambeth London SE1 7UT United Kingdom,8.652866,1.494469,-1.375721,4169
Scarsdale Place Kensington Kensington and Chelsea London W8 5SY United Kingdom,8.094575,1.551246,-0.722745,3576
7 Pepys Street City of London London EC3N 4AF United Kingdom,8.661931,1.438212,-1.319815,3210

In [48]:
# Get info on all the hotels
hotelInfo = pd.read_csv('hotel_info.csv')
hotelInfo.set_index('hotel_address', inplace=True)
hotelInfo.head()

,name,city,latitude,longitude
hotel_address,,,,
8 18 London Bridge St Southwark London SE1 9SG United Kingdom,London Bridge Hotel,London,51.505219,-0.088166
31 35 Langham Street Westminster Borough London W1W 6BU United Kingdom,Grange Langham Court Hotel,London,51.518908,-0.142196
38 rue de l Echiquier 10th arr 75010 Paris France,H tel L Echiquier Op ra Paris MGallery by Sofitel,Paris,48.871989,2.349291
Corso Giacomo Matteotti 4 6 Milan City Center 20121 Milan Italy,Boscolo Milano Autograph Collection,Milan,45.466760,9.194293
12 Osborn Street Aldgate East Tower Hamlets London E1 6TE United Kingdom,Arbor City,London,51.516675,-0.069790

In [50]:
# Join the two DataFrames together
all_info = hotelReviewSummary.join(hotelInfo)
all_info.head()

,average_score,standard_deviation,skew,number_of_reviews,name,city,latitude,longitude
hotel_address,,,,,,,,
s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands,7.836296,1.896516,-0.793030,405,Hotel Arena,Amsterdam,52.360576,4.915968
1 15 Templeton Place Earl s Court Kensington and Chelsea London SW5 9NB United Kingdom,8.602827,1.417423,-1.166941,566,K K Hotel George,London,51.491888,-0.194971
1 2 Serjeant s Inn Fleet Street City of London London EC4Y 1LL United Kingdom,9.298552,0.924214,-2.205991,1036,Apex Temple Court Hotel,London,51.513734,-0.108751
1 3 Queens Garden Westminster Borough London W2 3BA United Kingdom,7.711469,1.876015,-0.672977,1770,The Park Grand London Paddington,London,51.514218,-0.180903
1 3 Rue d Argentine 16th arr 75116 Paris France,8.848571,1.058959,-1.316812,35,Monhotel Lounge SPA,Paris,48.874348,2.289733

In [51]:
all_info.to_csv('hotelReviewSummary.csv')